<h2>Read Instructors</h2>
<table id="instructors_table">

    <thead>

        <tr id="headerRow">
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr data-value={{this.id}}>
            <td class="data">{{this.id}}</td>
            <td class="data">{{this.staff}}</td>
            <td class="data">{{this.course}}</td>
            <td class="data">{{this.bio}}</td>
            <td><button onclick="delete_instructor_id({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/instructors/delete_instructor.js"></script>

{{!-- Form to search by course --}}
<h2>Search Instructors</h2>
<p>Search by course using the field below. Partial names are OK too!</p>
<form id="search_instructors" method='GET' action='/instructors/'>
    <label for="input_instructors_search">Search by Course Name: </label>
    <input type="text" name="course_name" id="input_instructors_search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

{{!-- Form to add a record to the table  --}}
<h2>Add Instructors</h2>
<p>To add a new Instructor, please enter their information below and click 'Submit'!</p>
<form id="add_instructors_form">
    <label for="input_instructors_staff">Staff: </label>
    <select name="input_staff_id" id="input_instructors_staff_add">
        <option value="">Select a Staff member</option>
        {{#each staff}}
        <option value="{{this.staff_id}}">{{this.first_name}} {{this.last_name}}</option>
        {{/each}}
    </select>
    
    <label for="input_instructors_course">Course: </label>
    <select name="input_course_id" id="input_instructors_course_add">
        <option value="">Select a Course</option>
        {{#each courses}}
        <option value="{{this.course_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input_instructors_bio">Staff Bio: </label>
    <input type="text" name="input_staff_bio" id="input_instructors_bio_add">

    <input type="submit">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/instructors/add_instructor.js"></script>

{{!-- <h2>Updating Instructors</h2>
<p>To update a specific instructors bio select their name and the course being changed from the drop-down menu</p>
<form id="update-instructor-form-ajax">

    <label for="input-staff_id-update">Staff: </label>
    <select name="input-staff_id-update" id="input-staff_id-update">
        <option value="">Select a Person</option>
        {{#each staff}}
        <option value="{{this.staff_id}}">{{this.last_name}}</option>
        {{/each}}
    </select>

    <label for="input-course_id-update">Course: </label>
    <select name="input-course_id-update" id="input-course_id-update">
        <option value="">Select a Course</option>
        {{#each courses}}
        <option value="{{this.course_id}}">{{this.name}}</option>
        {{/each}}
    </select>

    <label for="input-staff_bio-update">Staff Bio: </label>
    <input type="text" name="input-staff_bio-update" id="input-staff_bio-update">

    <input type="submit">

</form>

<script src="./js/instructors/update_instructor.js"></script> --}}
